<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <img alt="404 - Page not Found" src="/images/404.jpg" style="margin: 50px 0 50px 0  ">
    </div>
    <div class="col-md-2 col-md-offset-5">
      <a href="/">
        <button class="btn btn-primary btn-lg">Go Home Boy.</button>
      </a>
  </div>
</div>
