<%- partial('./navbar.ejs') %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="jumbotron">
        <h1>Hey.</h1>
        <h2>Bienvenue !</h2>
        <p>Le meilleur du meilleur du tchat Web sur l'internet, tout équipé, lecteur cuir, intérieur climatisation, et sièges CD.</p>
          <div class="btn-group-lg btn-right">
            <% if(!auth) { %><a class="btn btn-primary" href="/login" role="group">S'identifier</a><% } else { %><a class="btn btn-primary" href="/chat" role="group">Chat Général</a><% } %>
            <% if(!auth) { %><a class="btn btn-primary" href="/signup" role="group">S'inscrire</a><% } else { %><a class="btn btn-primary" href="/user" role="group">Mon Profil</a><% } %>
          </div>
      </div>
    </div>
  </div>
</div>
