<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-2 main-container">
      <div class="page-header">
        <h3>Signup</h3>
      </div>
      <form id="signupform">
        <div class="form-group">
          <label for="username">Pseudo :</label>
          <input type="text" id="username" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email :</label>
          <input type="email" id="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Mot de Passe :</label>
          <input type="password" id="password" class="form-control">
        </div>
        <div class="form-group">
          <label for="confirm">Confirmation du Mot de Passe :</label>
          <input type="password" id="confirm" class="form-control">
        </div>
        <div class="form-group">
          <label for="firstName">Prénom (optionnel) :</label>
          <input type="text" id="firstName" class="form-control">
        </div>
        <div class="form-group">
          <label for="lastName">Nom de Famille (optionnel) :</label>
          <input type="text" id="lastName" class="form-control">
        </div>
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        <button class="btn btn-default" type="submit">S'inscrire !</button>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('#signupform').on('submit', function(e) {
    e.preventDefault();

    var username = $('#username').val();
    var password = $('#password').val();
    var email = $('#email').val();
    var confirm = $('#confirm').val();
    var firstName = $('#firstName').val();
    var lastName = $('#lastName').val();

    if(username === '' || password === '' || confirm === '' || email === '') {
      alert('Les champs doivent êtres remplis (pseudo / email / password / confirmation)');
    } else if (password != confirm){
      alert('Les mots de passes sont différents !');
    }
    else if (password.length < 8){
      alert('Votre mot de passe doit comporter au minimum 8 caractères');
    } else{
      $('.main-container').remove('.alert');
      $.ajax({
        url: "/register",
        type: "post",
        data: {
          username : username,
          password: password,
          email: email,
          firstName: firstName,
          lastName: lastName
        },
        success: function(user) {
          alert("Votre utilisateur a bien été créé ! Vous allez être redirigés...");
          $.ajax({
            url: "/auth/local",
            type: "post",
            data: {
              identifier: email,
              password: password
            },
            success: function(){
              window.location.replace("/user");
            },
            error: function(){
              window.location.replace("/login");
            }
          })
        },
        error: function(err){
          console.log(err);
          if (err.responseJSON.invalidAttributes) {
            $('.page-header').append('<div class="alert alert-danger">');
            $('.alert-danger').append('La création de l\'utilisateur a échoué. Vérifiez :');
            $('.alert-danger').append('<ul>');
            $('.alert-danger').append('<li>Que votre utilisateur ou mail n\'est pas déjà utilisé</li>');
            $('.alert-danger').append('<li>Que votre mot de passe fait au moins 8 caractères</li></ul>');
            $('.page-header').append('</div>');
          }
          $('#password').val()='';
          $('#confirm').val()='';
        }
      });
    }
  });
});

</script>
